[Desktop Entry]
Type=Application
Name=Pastily
Comment=Локальная история буфера обмена
Exec=__PASTILY_PATH__ --background
Icon=app.pastily.desktop
Terminal=false
Categories=Utility;
OnlyShowIn=KDE;
X-GNOME-Autostart-enabled=true
